# --- Visual Studio ---
.vs/
*.user
*.suo
*.sln.docstates

# --- Build Results ---
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# --- Grasshopper/Rhino ---
*.gha
*.rhp
*.bakk

# --- MacOS ---
.DS_Store